{% extends 'base.html.twig' %}

{% block body %}

    <h1>Hello</h1>
    {% for post in posts %}
        {{ post.text }}
        <a href="{{ path('delete', {'id': post.id}) }}">Удалить</a>
        <a href="{{ path('update', {'id': post.id}) }}">Изменить</a><br>
    {% endfor %}

{% endblock %}