{% extends 'base.html.twig' %}

{% block body %}

    <form action="" method="POST">
        <textarea name="text" rows="10" cols="60">{{ post.text }}</textarea><br>
        <input name="submit" type="submit" value="Отправить">
    </form>

{% endblock %}